/* Seu arquivo de estilo CSS */
.menu-fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.menu-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.menu-fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}